streamlit
pandas
PyMuPDF
langdetect
openai
PyPDF2
transformers
openpyxl
gdown
graphviz
pydrive
oauth2client
dropbox
matplotlib
pdfplumber
numpy
sentence-transformers
scikit-learn
vertexai
google-cloud-aiplatform
google-generativeai
google-genai
pathlib
spacy
rank_bm25
sentence-transformers
vertexai
scikit-learn
huggingface-hub
transformers
python-louvain
camelot-py[cv]
google-genai
faiss-cpu
fitz
torch
IPython
tiktoken
chromadb
